
# PlanAhead Generated IO constraints 

NET "LD1" IOSTANDARD = LVCMOS33;
NET "LD2" IOSTANDARD = LVCMOS33;
NET "SW1" IOSTANDARD = LVCMOS33;
NET "SW2" IOSTANDARD = LVCMOS33;
NET "SW3" IOSTANDARD = LVCMOS33;
NET "SW4" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "LD1" LOC = P121;
NET "LD2" LOC = P114;
NET "SW1" LOC = P98;
NET "SW2" LOC = P93;
NET "SW3" LOC = P95;
NET "SW4" LOC = P88;
