//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 12 16:26:17 2021
//! **************************************************************************

SCHEMATIC START;
COMP "SW_SEL<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "SW_SEL<1>" LOCATE = SITE "P101" LEVEL 1;
COMP "SEG_PATTERN<0>" LOCATE = SITE "P115" LEVEL 1;
COMP "SEG_PATTERN<1>" LOCATE = SITE "P120" LEVEL 1;
COMP "SEG_PATTERN<2>" LOCATE = SITE "P123" LEVEL 1;
COMP "SEG_PATTERN<3>" LOCATE = SITE "P104" LEVEL 1;
COMP "SEG_PATTERN<4>" LOCATE = SITE "P102" LEVEL 1;
COMP "SEG_PATTERN<5>" LOCATE = SITE "P112" LEVEL 1;
COMP "SEG_PATTERN<6>" LOCATE = SITE "P105" LEVEL 1;
COMP "SEG_PATTERN<7>" LOCATE = SITE "P126" LEVEL 1;
COMP "SW_START" LOCATE = SITE "P51" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P121" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P114" LEVEL 1;
COMP "SEG_DIGIT<0>" LOCATE = SITE "P124" LEVEL 1;
COMP "SW_INST<0>" LOCATE = SITE "P88" LEVEL 1;
COMP "SEG_DIGIT<1>" LOCATE = SITE "P118" LEVEL 1;
COMP "SW_INST<1>" LOCATE = SITE "P95" LEVEL 1;
COMP "SW_INST<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "SW_INST<3>" LOCATE = SITE "P98" LEVEL 1;
COMP "SW_INST<4>" LOCATE = SITE "P41" LEVEL 1;
COMP "SW_INST<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "SW_INST<6>" LOCATE = SITE "P58" LEVEL 1;
COMP "SW_INST<7>" LOCATE = SITE "P59" LEVEL 1;
COMP "CLK" LOCATE = SITE "P94" LEVEL 1;
SCHEMATIC END;

